%p
  = t("enterprise_rating_mailer.seller_rating_received.greeting", enterprise: @enterprise.name)

%p
  = t("enterprise_rating_mailer.seller_rating_received.intro", order: @order.number)

%p
  %strong= t("enterprise_rating_mailer.seller_rating_received.buyer_label")
  = @buyer_name

%p
  %strong= t("enterprise_rating_mailer.seller_rating_received.rating_label")
  = @rating.rating
  = "/5"

- if @rating.comment.present?
  %p
    %strong= t("enterprise_rating_mailer.seller_rating_received.comment_label")
  %p= @rating.comment
- else
  %p
    %em= t("enterprise_rating_mailer.seller_rating_received.comment_empty")
