- content_for :page_title do
  = t(".editing_user")
- content_for :page_actions do
  %li
    = button_link_to t(".back_to_users_list"), spree.admin_users_path, icon: "icon-arrow-left"
%fieldset.alpha.ten.columns
  %legend= t(".general_settings")
  %div
    = render partial: "spree/shared/error_messages", locals: { target: @user }
  %div
    = form_for [:admin, @user] do |f|
      = render "email_confirmation" unless @user.confirmed?
      = render partial: "form", locals: { f: f }
      %div
        = render partial: "spree/admin/shared/edit_resource_links"

= render partial: 'spree/admin/users/api_fields'

- unless @user.activation_fee_paid?
  %div
    = form_with url: mark_activation_fee_paid_admin_user_path(@user), method: :patch do
      = submit_tag t("spree.admin.users.form.mark_activation_fee_paid"), class: "button"

%div
  = form_with url: reset_mfa_admin_user_path(@user), method: :patch do
    = submit_tag t("mfa.reset_button"), class: "button"

- if flash[:mfa_backup_codes].present?
  %div
    %p= t("mfa.backup_codes_label")
    %pre= flash[:mfa_backup_codes]

%div
  = form_with url: generate_mfa_backup_codes_admin_user_path(@user), method: :patch do
    = submit_tag t("mfa.generate_backup_codes_button"), class: "button"
