- content_for :page_title do
  = t('dashboard')

- content_for :page_actions do
  = render 'admin/shared/user_guide_link'

%div{ 'ng-app' => 'ofn.admin' }
  - if spree_current_user.activation_fee_required? && !spree_current_user.admin?
    .alert-box
      %strong= t("activation_fee.admin_banner")
      %a.button.small{ href: main_app.activation_fee_path }= t("activation_fee.pay_now")
  - if @enterprises.empty?

    = render partial: "enterprises"

  - else

    - if can? :admin, Spree::Product
      = render partial: "products"

      .two.columns
        &nbsp;

    - if can? :admin, OrderCycle
      = render partial: "order_cycles"

    = render partial: "enterprises"

  = render partial: "version"
